{% extends 'global/pages/base.html' %}
{%load static %}
{% load money %}

{% block title %}
  Painel do usuário
{% endblock title %}

{% block content %}
<!-- messages -->
{% include 'global/partials/_messages.html' %}

<!-- summary -->
<section class="C-dashboard_intro">
  <input type="checkbox" name="show-invest" id="show-invest" checked>
  <div class="C-dashboard_box_title">
    <h1 class="C-dashboard_intro_title">meus investimentos</h1>
    <label for="show-invest" class="show-invest_label">
      <span class="material-symbols-outlined eye-icon">visibility_off</span>
    </label>
  </div>
  <section class="C-dashboard_summary">
    <div>
      <div class="C-dashboard_summary_title">
        <a href="{% url 'product:actions' %}">ações</a>
      </div>
      <div class="C-dashboard_summary_title">
        <a href="{% url 'product:fixed_income' %}">renda fixa</a>
      </div>
      <div class="C-dashboard_summary_title">tesouro direto</div>
      <div class="C-dashboard_summary_title">
        <a href="{% url 'product:fiis' %}">FIIs</a>
      </div>
      <div class="C-dashboard_summary_title total">total</div>
    </div>
    <div>
      <div class="C-dashboard_summary_item">{{ total_actions|real_brl }}</div>
      <div class="C-dashboard_summary_hidden">R$ --------</div>
      <div class="C-dashboard_summary_item">R$ 1.000,00</div>
      <div class="C-dashboard_summary_hidden">R$ --------</div>
      <div class="C-dashboard_summary_item">R$ 1.000,00</div>
      <div class="C-dashboard_summary_hidden">R$ --------</div>
      <div class="C-dashboard_summary_item">{{ total_fiis|real_brl }}</div>
      <div class="C-dashboard_summary_hidden">R$ --------</div>
      <div class="C-dashboard_summary_item total">{{ grand_total|real_brl }}</div>
      <div class="C-dashboard_summary_hidden">R$ --------</div>
    </div>
  </section>
</section>

<!-- upgrade box -->
<div class="C-upgrade_box">
  <p>Sugestão de melhoria / Reportar bug</p>
</div>
{% endblock content %}