{% extends 'global/pages/base.html' %}
{%load static  %}

{% block title %}
  Painel do usuário
{% endblock title %}

<!-- menu -->
{% block menu %}
  <!-- menu mobile -->
  <input type="checkbox" name="manue-mobile" id="menu-mobile">
  <label class="C-menu_label" for="menu-mobile">
    <div class="C-menu_mobile">
      <div class="C-menu_mobile_line"></div>
      <div class="C-menu_mobile_line"></div>
      <div class="C-menu_mobile_line"></div>
    </div>
  </label>
  <nav class="C-menu">
    <ul class="C-menu_ul">
      <li class="C-menu_li">
        <a href="">item 1</a>
      </li>
      <li class="C-menu_li">
        <a href="">item 1</a>
      </li>
      <li class="C-menu_li">
        <a href="">item 1</a>
      </li>
      <li class="C-menu_li">
        <a href="">item 1</a>
      </li>
    </ul>
  </nav>
  <!-- logo -->
  <figure class="C-logo_figure">
    <a href="" class="C-logo">
      <img class="C-logo_image" src="{% static 'global/images/favicon.ico' %}" alt="Logo">
    </a>
  </figure>
{% endblock menu %}

{% block content %}
<!-- messages -->
{% include 'global/partials/_messages.html' %}

<!-- summary -->
<section class="C-dashboard_intro">
  <input type="checkbox" name="show-invest" id="show-invest" checked>
  <div class="C-dashboard_box_title">
    <h1 class="C-dashboard_intro_title">meus investimentos</h1>
    <label for="show-invest" class="show-invest_label">
      <span class="material-symbols-outlined eye-icon">visibility_off</span>
    </label>
  </div>
  <section class="C-dashboard_summary">
    <div>
      <div class="C-dashboard_summary_title">ações</div>
      <div class="C-dashboard_summary_title">renda fixa</div>
      <div class="C-dashboard_summary_title">tesouro direto</div>
      <div class="C-dashboard_summary_title">FIIs</div>
      <div class="C-dashboard_summary_title total">total</div>
    </div>
    <div>
      <div class="C-dashboard_summary_item">R$ 1.000,00</div>
      <div class="C-dashboard_summary_hidden">R$ --------</div>
      <div class="C-dashboard_summary_item">R$ 1.000,00</div>
      <div class="C-dashboard_summary_hidden">R$ --------</div>
      <div class="C-dashboard_summary_item">R$ 1.000,00</div>
      <div class="C-dashboard_summary_hidden">R$ --------</div>
      <div class="C-dashboard_summary_item">R$ 1.000,00</div>
      <div class="C-dashboard_summary_hidden">R$ --------</div>
      <div class="C-dashboard_summary_item total">R$ 1.000,00</div>
      <div class="C-dashboard_summary_hidden">R$ --------</div>
    </div>
  </section>
</section>

<!-- upgrade box -->
<div class="C-upgrade_box">
  <p>Sugestão de melhoria / Reportar bug</p>
</div>
{% endblock content %}