{% extends 'global/pages/base.html' %}
{%load static %}
{% load money %}

{% block title %}
  Painel do usuário
{% endblock title %}

{% block content %}
<!-- messages -->
{% include 'global/partials/_messages.html' %}

<!-- summary -->
<section class="C-dashboard_intro">
  <input type="checkbox" name="show-invest" id="show-invest" checked>
  <div class="C-dashboard_box_title">
    <h1 class="C-dashboard_intro_title">meus investimentos</h1>
    <label for="show-invest" class="show-invest_label">
      <span class="material-symbols-outlined eye-icon">visibility_off</span>
    </label>
  </div>
  <section class="C-dashboard_summary">
    <!-- titles -->
    <div>
      <div class="C-dashboard_summary_title">
        <a href="{% url 'product:actions' %}">ações</a>
      </div>
      <div class="C-dashboard_summary_title">
        <a href="{% url 'product:fixed_income' %}">renda fixa</a>
      </div>
      <div class="C-dashboard_summary_title">
        <a href="{% url 'product:direct_treasure' %}">tesouro direto</a>
      </div>
      <div class="C-dashboard_summary_title">
        <a href="{% url 'product:fiis' %}">FIIs</a>
      </div>
    </div>

    <!-- titles -->
    <div class="C-dashboard_summary_values">
      <div class="C-dashboard_summary_container">
        <div class="C-dashboard_summary_item">{{ total_actions|real_brl }}</div>
        <div class="C-dashboard_summary_hidden">R$ --------</div>
      </div>

      <div class="C-dashboard_summary_container">
        <div class="C-dashboard_summary_item">{{ total_fixed_income|real_brl }}</div>
        <div class="C-dashboard_summary_hidden">R$ --------</div>
      </div>

      <div class="C-dashboard_summary_container">
        <div class="C-dashboard_summary_item">{{ total_direct_treasure|real_brl }}</div>
        <div class="C-dashboard_summary_hidden">R$ --------</div>
      </div>

      <div class="C-dashboard_summary_container">
        <div class="C-dashboard_summary_item">{{ total_fiis|real_brl }}</div>
        <div class="C-dashboard_summary_hidden">R$ --------</div>
      </div>
    </div>
  </section>

  <!-- total invested -->
  <section 
    class="C-dashboard_summary"
    style="margin: 25px 0;
          border-top: 1px solid #CCC;
          border-bottom: 1px solid #CCC;
          padding: 15px 0;">
  <!-- titles -->
    <div>
      <div class="C-dashboard_summary_title total">total investido</div>
    </div>

    <!-- titles -->
    <div class="C-dashboard_summary_values">
      <div class="C-dashboard_summary_container">
        <div class="C-dashboard_summary_item">{{ grand_total|real_brl }}</div>
        <div class="C-dashboard_summary_hidden">R$ --------</div>
      </div>
    </div>
  </section>

  <!-- total received in profits -->
  <h2
    style="text-align: center;
          padding: 8px 5px;
          font-size: 22px;
          font-weight: 600;
          ">
    Total recebido em provetos
  </h2>
  <section class="C-dashboard_summary">
  <!-- titles -->
    <div>
      <div class="C-dashboard_summary_title total">Ações</div>
      <div class="C-dashboard_summary_title total">FIIs</div>
      <div class="C-dashboard_summary_title total">renda fixa</div>
      <div class="C-dashboard_summary_title total">tesouro direto</div>
    </div>

    <!-- titles -->
    <div class="C-dashboard_summary_values">
      <div class="C-dashboard_summary_container">
        <div class="C-dashboard_summary_item">{{ profits_actions|real_brl }}</div>
        <div class="C-dashboard_summary_hidden">R$ --------</div>
      </div>
      <div class="C-dashboard_summary_container">
        <div class="C-dashboard_summary_item">{{ profits_fiis|real_brl }}</div>
        <div class="C-dashboard_summary_hidden">R$ --------</div>
      </div>
      <div class="C-dashboard_summary_container">
        <div class="C-dashboard_summary_item">{{ profits_fixed_income|real_brl }}</div>
        <div class="C-dashboard_summary_hidden">R$ --------</div>
      </div>
      <div class="C-dashboard_summary_container">
        <div class="C-dashboard_summary_item">{{ profits_direct_treasue|real_brl }}</div>
        <div class="C-dashboard_summary_hidden">R$ --------</div>
      </div>
    </div>
  </section>

  <!-- tax and irpf -->
  <section 
    class="C-dashboard_summary"
    style="margin: 25px 0;
          border-top: 1px solid #CCC;
          border-bottom: 1px solid #CCC;
          padding: 15px 0;">
  <!-- titles -->
    <div>
      <div
        class="C-dashboard_summary_title total"
        style="font-size: 14px;">
        taxas e impostos pagos</div>
    </div>

    <!-- titles -->
    <div class="C-dashboard_summary_values">
      <div class="C-dashboard_summary_container">
        <div
          class="C-dashboard_summary_item"
          style="font-size: 14px;"
          >
          {{ total_tax|real_brl }}</div>
        <div
          class="C-dashboard_summary_hidden"
          style="font-size: 14px;"
          >
          R$ --------
        </div>
      </div>
    </div>
  </section>
</section>

<!-- upgrade box -->
<div class="C-upgrade_box">
  <input type="checkbox" name="upgrade_box" id="upgrade_box">
  <label for="upgrade_box">Sugestão de melhoria / Reportar bug</label>
  <label for="upgrade_box" id="cancel ">Cancelar</label>

  <section class="C-upgrade_box_container">
    <form method="POST" class="C-upgrade_box_form">
      {% csrf_token %}
      <div>
        <label for="user_name">Usuário</label>
        <input
          type="text"
          name="user_name"
          id="user_name"
          style="text-transform: capitalize;"
          value="{{ user.first_name }} {{ user.last_name }}" disabled
        >
      </div>

      <div>
        <label for="user_email">Email</label>
        <input
          type="email"
          name="user_email"
          id="user_email"
          value="{{ user.email }}"
          disabled
        >
      </div>

      <div>
        <label for="subject">Assunto</label>
        <input
          type="text"
          name="subject"
          id="subject"
          placeholder="Digite o assunto..."
          required
        >
      </div>

      <div>
        <label for="content">Mensagem</label>
        <textarea
          name="content"
          id="content"
          cols="30"
          rows="10"
          placeholder="Digite sua mensagem..."
          required
        ></textarea>
      </div>

      <button type="submit">Enviar</button>
    </form>
  </section>
</div>
{% endblock content %}