{% extends 'global/pages/base.html' %}
{% load money %}

{% block title %}
  {{ template_title }}
{% endblock title %}

{% block content %}
  {% include 'global/partials/_messages.html' %}
  <h1 class="C-dashboard_title">{{ template_title }}</h1>
  <ul class="C-dashboard_list">
    <li class="C-dashboard_list_li">
      <a class="C-dashboard_link" href="{{ url_register }}">cadastrar novo</a>
    </li>
  </ul>
  <section class="C-dashboard_table_details">
    {% if products|length == 0 %}
      <p class="C-dashboard_table_empty_message">nenhum produto cadastrado</p>
    {% else %}
      <table class="C-dashboard_table">
        <thead>
          <th>nome</th>
          <th>total investido</th>
          <th>vencimento</th>
        </thead>
        <tbody>
        {% for product in products %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            </td>
            <td>{{ product.get_current_value|real_brl }}</td>
            <td>{{ product.maturity_date|date:"SHORT_DATE_FORMAT" }}</td>
          </tr>
        </tbody>
        {% endfor %}
    {% endif %}
    </table>
  </section>

  <!-- summary -->
  {% include 'product/partials/_summary.html' %}
{% endblock content %}