{% extends 'global/pages/base.html' %}
{% load money %}
{% load cnpj %}

{% block title %}
    Histórico
{% endblock title %}

{% block content %}
<section class="C-dashboard_table_details is_head">
  {% include 'global/partials/_messages.html' %}
  <h1>{{ product.code }}</h1>
  <h2>{{ product.description }}</h2>
  {% if product.cnpj %}
    <h3>cnpj: {{ product.cnpj|fomated_cnpj }}</h3>
  {% endif %}
  <table class="C-dashboard_table">
    <thead>
      <th>data</th>
      <th>mov</th>
      <th>qtde</th>
      <th>valor</th>
      <th>total</th>
      <th>nota</th>
      <th>deletar</th>
    </thead>
    <tbody>
    {% for h in history %}
      <tr>
        <td>{{ h.date|date:"d/m/y" }}</td>
        {% with handler=h.handler %}
          {% if handler == 'buy' %}
            <td class="C-dashboard_table_buy">compra</td>
          {% elif handler == 'sell' %}
            <td class="C-dashboard_table_sell">venda</td>
          {% else %}
            <td class="C-dashboard_table_buy">proventos</td>
          {% endif %}
        {% endwith %}

        {% if h.handler != 'buy' and h.handler != 'sell' %}
          <td>-</td>
        {% else %}
          <td>{{ h.quantity }}</td>
        {% endif %}

        <td>{{ h.unit_price|real_brl }}</td>

        <td>{{ h.get_final_value|real_brl }}</td>
        {% if h.trading_note %}
          <td><a class="C-dashboard_table_nf" href="{{ h.trading_note.url }}"
            download="nota.pdf">nf</a>
          </td>
        {% else %}
            <td><a class="C-dashboard_table_nf"></a></td>
        {% endif %}
        <td>
          <form
          action="{{ h.get_url_delete }}"
          method="POST">
          {% csrf_token %}
          <span class="material-symbols-outlined icon_delete span_vihist_delete">delete</span>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>

{% endblock content %}