{% extends 'global/pages/base.html' %}
{% load money %}
{% load cnpj %}

{% block title %}
    Histórico
{% endblock title %}

{% block content %}
<section class="C-dashboard_table_details">
  {% with product=history.0.userproduct.product %}
    <h1>{{ product.code }}</h1>
    <h2>{{ product.description }}</h2>
    <h3>cnpj: {{ product.cnpj|fomated_cnpj }}</h3>
  {% endwith %}
  <table class="C-dashboard_table">
    <thead>
      <th>data</th>
      <th>mov</th>
      <th>qtde</th>
      <th>valor</th>
      <th>total</th>
      <th>nota</th>
    </thead>
    <tbody>
    {% for product in history %}
      <tr>
        <td>{{ product.date|date:"d/m/y" }}</td>
        {% with handler=product.handler %}
          {% if handler == 'buy' %}
            <td class="C-dashboard_table_buy">compra</td>
          {% elif handler == 'sell' %}
            <td class="C-dashboard_table_sell">venda</td>
          {% endif %}
        {% endwith %}
        <td>{{ product.quantity }}</td>
        <td>{{ product.unit_price|real_brl }}</td>
        <td>{{ product.total_price|real_brl }}</td>
        {% if product.trading_note %}
          <td><a class="C-dashboard_table_nf" href="{{ product.trading_note.url }}"
            download="nota.pdf">nf</a>
          </td>
        {% else %}
            <td><a class="C-dashboard_table_nf"></a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>

{% endblock content %}