{% extends 'global/pages/base.html' %}
{% load money %}

{% block title %}
  Histórico
{% endblock title %}

{% block content %}
<section class="C-dashboard_table_details">
  <h1>{{ product.name }}</h1>

  <div style="width: 100%">
    <h2 class="C-dashboard_table_details_fi_value">
      valor atual: {{ product.get_current_value|real_brl }}
    </h2>
    {% if profits_payment %}
      <h2 
      class="C-dashboard_table_details_fi_value">
      total recebido em juros: {{ product.get_total_profits_received|real_brl }}
      </h2>
    {% endif %}
  </div>

  {% include 'global/partials/_messages.html' %}
  <table class="C-dashboard_table">
    <thead>
      <th>data</th>
      <th>mov.</th>
      <th>taxas</th>
      <th>valor bruto</th>
      <th>valor líquido</th>
      <th>editar</th>
      <th>deletar</th>
    </thead>
    <tbody>
    {% for h in history %}
      <tr>
        <td>{{ h.date|date:"d/m/y" }}</td>
        {% with handler=h.state %}
          {% if handler == 'apply' %}
            <td class="C-dashboard_table_buy">aplicação</td>
          {% elif handler == 'redeem' %}
            <td class="C-dashboard_table_sell">resgate</td>
          {% else %}
            <td class="C-dashboard_table_buy">juros recebido</td>
          {% endif %}
        {% endwith %}
        <td>{{ h.tax_and_irpf|real_brl }}</td>
        <td>{{ h.value|real_brl }}</td>
        <td>{{ h.get_final_value|real_brl }}</td>
        <td>
          <a href="{% url 'product:fixed_income_history_edit' h.product.id h.id %}">
            <span class="material-symbols-outlined icon_edit">edit</span>
          </a>
        </td>
        <td>
          <form 
            action="{% url 'product:fixed_income_history_delete' h.product.id h.id %}"
            method="POST">
            {% csrf_token %}
            <span class="material-symbols-outlined icon_delete fi_h_delete">delete_forever</span>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock content %}