{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Guilherme Costa">
<meta name="description" content="system used to control investments,
sistema utilizado para controle de investimentos">
<meta name="keywords" content="investment control, investment, investment system,
actions, stock exchange, real estate funds, controle de investimentos, investimentos, sistema de investimentos, ações, bolsa de valores, fundos imobiliários, fiis">
<link rel="stylesheet" href="{% static 'global/css/global.css' %}">
