{% load static %}

<!-- menu mobile -->
<input type="checkbox" name="manue-mobile" id="menu-mobile">
<label class="C-menu_label" for="menu-mobile">
<div class="C-menu_mobile">
  <div class="C-menu_mobile_line"></div>
  <div class="C-menu_mobile_line"></div>
  <div class="C-menu_mobile_line"></div>
</div>
</label>
<nav class="C-menu">
<ul class="C-menu_ul">
  <li class="C-menu_li">
  <a href="">item 1</a>
  </li>
  <li class="C-menu_li">
  <a href="">item 1</a>
  </li>
  <li class="C-menu_li">
  <a href="">item 1</a>
  </li>
  <li class="C-menu_li">
  <a href="">item 1</a>
  </li>
</ul>
</nav>

<!-- logo -->
<figure class="C-logo_figure">
<a href="" class="C-logo">
  <img class="C-logo_image" src="{% static 'global/images/favicon.ico' %}" alt="Logo">
</a>
</figure>