{% load static %}

<!-- menu mobile -->
<input type="checkbox" name="manue-mobile" id="menu-mobile">
<label class="C-menu_label" for="menu-mobile">
<div class="C-menu_mobile">
  <div class="C-menu_mobile_line"></div>
  <div class="C-menu_mobile_line"></div>
  <div class="C-menu_mobile_line"></div>
</div>
</label>
<nav class="C-menu">
<ul class="C-menu_ul">
  <li class="C-menu_li">
    <a class="C-menu__link" href="">item 1</a>
  </li>
  <li class="C-menu_li">
    <a class="C-menu__link" href="">item 1</a>
  </li>
  <li class="C-menu_li">
    <a class="C-menu__link" href="">item 1</a>
  </li>
  <li class="C-menu_li">
    <a class="C-menu__link" href="">item 1</a>
  </li>
  {% if user.is_authenticated %}
    <li class="C-menu_li">
      <input type="checkbox" name="C-menu_ativos_checkox" id="C-menu_ativos_checkox">
      <label for="C-menu_ativos_checkox">ativos</label>
      <ul class="C-menu_submenu">
        <li class="C-menu_submenu_li">
          <a class="C-menu__link" href="">ações</a>
        </li>
        <li class="C-menu_submenu_li">
          <a class="C-menu__link" href="">renda fixa</a>
        </li>
        <li class="C-menu_submenu_li">
          <a class="C-menu__link" href="">tesouro direto</a>
        </li>
        <li class="C-menu_submenu_li">
          <a class="C-menu__link" href="">fundos imobiliários</a>
        </li>
      </ul>
    </li>
    <li class="C-menu_li">
      <a class="C-menu__link" href="">configurações da conta</a>
    </li>
    <li class="C-menu_li">
      <form action="{% url 'dashboard:logout' %}" method="POST">
        {% csrf_token %}
        <input class="C-login_button C-login_sign_in C-menu_logout" type="submit" value='sair'>
      </form>
    </li>
  {% endif %}
</ul>
</nav>

<!-- logo -->
<figure class="C-logo_figure">
<a href="" class="C-logo">
  <img class="C-logo_image" src="{% static 'global/images/favicon.ico' %}" alt="Logo">
</a>
</figure>