{% load static %}

<!-- menu mobile -->
<nav class="C-menu">
  <input type="checkbox" name="manue-mobile" id="menu-mobile">
  <ul class="C-menu_ul">
    <label class="C-menu_label" for="menu-mobile">
      <div class="C-menu_mobile">
        <div class="C-menu_mobile_line"></div>
        <div class="C-menu_mobile_line"></div>
        <div class="C-menu_mobile_line"></div>
      </div>
    </label>
    <li class="C-menu_li">
      <a class="C-menu__link" href="{% url 'dashboard:user_dashboard' %}">início</a>
    </li>
    {% if user.is_authenticated %}
      <li class="C-menu_li">
        <input type="checkbox" name="C-menu_ativos_checkox" id="C-menu_ativos_checkox">
        <label class="C-menu_submenu_label" for="C-menu_ativos_checkox">ativos</label>
        <ul class="C-menu_submenu">
          <li class="C-menu_submenu_li">
            <a class="C-menu__link" href="{% url 'product:actions' %}">ações</a>
          </li> 
          <li class="C-menu_submenu_li">
            <a class="C-menu__link" href="{% url 'product:fixed_income' %}">renda fixa</a>
          </li>
          <li class="C-menu_submenu_li">
            <a class="C-menu__link" href="{% url 'product:direct_treasure' %}">tesouro direto</a>
          </li>
          <li class="C-menu_submenu_li">
            <a class="C-menu__link" href="{% url 'product:fiis' %}">fundos imobiliários</a>
          </li>
        </ul>
      </li>
      <li class="C-menu_li">
        <a class="C-menu__link" href="">configurações</a>
      </li>

      <!-- just if the user is staff -->
      {% include 'global/partials/_admin_menu.html' %}

      <li class="C-menu_li">
        <form action="{% url 'dashboard:logout' %}" method="POST">
          {% csrf_token %}
          <input class="C-login_button C-login_sign_in C-menu_logout" type="submit" value='sair'>
        </form>
      </li>
    {% endif %}
  </ul>
</nav>

<!-- logo -->
<figure class="C-logo_figure">
<a href="" class="C-logo">
  <img class="C-logo_image" src="{% static 'global/images/favicon.ico' %}" alt="Logo">
</a>
</figure>