{% extends 'global/pages/base.html' %}

{% block title %}
  Ações
{% endblock title %}

{% block content %}
  {% include 'global/partials/_messages.html' %}
  <h1 class="C-dashboard_title">ações</h1>
  <ul clas="C-dashboard_list">
    <li class="C-dashboard_list_li">
      <a class="C-dashboard_link"
      href="{% url 'product:actions_list' %}">minhas ações</a>
    </li>
    <li class="C-dashboard_list_li">
      <a class="C-dashboard_link"
      href="{% url 'product:actions_buy' %}">comprar</a>
    </li>
    <li class="C-dashboard_list_li">
      <a class="C-dashboard_link" href="{% url 'product:actions_sell' %}">vender</a>
    </li>
    <li class="C-dashboard_list_li">
      <a class="C-dashboard_link" href="">lançar proventos</a>
    </li>
  </ul>
{% endblock content %}