{% extends 'global/pages/base.html' %}

{% block title %}
  Gerenciar proventos
{% endblock title %}

{% block content %}
  <section class="C-dashboard_table_details">
    {% if is_main_page %}
      <p class="detail">
        Total acumulado em proventos (Ações): 
        <span id="total_profits_fiis"></span>
      </p>
    {% endif %}

    {% include 'global/partials/_form.html' %}
    {% include 'global/partials/_messages.html' %}
  </section>

  <input type="hidden" id="url-actions-history-profits" data-url-history-profits="{{ url_history_profits }}">
  <input type="hidden" id="url-receive-profits" data-url-receive-profits="{{ url_receive_profits }}">
  <input type="hidden" id="url-total-profits" data-url-total-profits="{{ url_total_profits }}">
  {% csrf_token %}

  <div id="result"></div>

  {% if is_main_page %}
  <section class="C-dashboard_table_details">
    <table id="profits-table" class="C-dashboard_table">
      <thead>
        <th>data</th>
        <th>código</th>
        <th>mov</th>
        <th>impostos e taxas</th>
        <th>valor bruto</th>
        <th>valor líquido</th>
        <th>edit.</th>
        <th>del.</th>
      </thead>
      <tbody id="table-body"></tbody>
    </table>
  </section>
  {% endif %}
{% endblock content %}