{% extends 'global/pages/base.html' %}
{% load money %}

{% block title %}
  Todas as ações
{% endblock title %}

{% block content %}
  <h1 class="C-dashboard_title">ações em carteira</h1>
  {% include 'global/partials/_messages.html' %}
  <section class="C-dashboard_table_details">
    {% if actions|length == 0 %}
      <p class="C-dashboard_table_empty_message">Nenhuma ação até o momento</p>
    {% else %}
      <table class="C-dashboard_table">
        <tr>
          <th>código</th>
          <th>quant.</th>
          <th>valor médio pago</th>
          <th>última cotação</th>
          <th>total</th>
          <th>deletar</th>
        </tr>
      {% for action in actions %}
        <tr>
          <td><a href="{% url 'product:action_history' action.product.code %}">
            {{ action.product.code }}
          </a></td>
          <td>{{ action.get_quantity }}</td>
          <td>{{ action.get_middle_price|real_brl }}</td>
          <td>{{ action.previous_close|real_brl }}</td>
          <td>{{ action.get_current_value_invested|real_brl }}</td>
          <td>
            <form
              action="{{ action.get_url_delete }}"
              method="POST">
              {% csrf_token %}
              <span class="material-symbols-outlined icon_delete span_vi_delete">delete</span>
            </form>
          </td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  </section>
{% endblock content %}