{% extends 'global/pages/base.html' %}
{% load money %}

{% block title %}
    Histórico
{% endblock title %}

{% block content %}
<section class="C-dashboard_table_details">
  {% with action=history.0.useraction %}
    <h1>{{ action.action.code }}</h1>
    <h2>{{ action.action.description }}</h2>
    <h3>cnpj: {{ action.action.cnpj }}</h3>
  {% endwith %}
</section>
<table class="C-dashboard_table">
  <tbody>
    <th>data</th>
    <th>mov</th>
    <th>qtde</th>
    <th>valor</th>
    <th>total</th>
    <th>nota</th>
  </tbody>
  {% for action in history %}
    <tr>
      <td>{{ action.date|date:"d/m/y" }}</td>
      {% with handler=action.handler %}
        {% if handler == 'buy' %}
          <td class="C-dashboard_table_buy">compra</td>
        {% elif handler == 'sell' %}
          <td class="C-dashboard_table_sell">venda</td>
        {% endif %}
      {% endwith %}
      <td>{{ action.quantity }}</td>
      <td>{{ action.unit_price|real_brl }}</td>
      <td>{{ action.total_price|real_brl }}</td>
      {% if action.trading_note %}
        <td><a class="C-dashboard_table_nf" href="{{ action.trading_note.url }}"
          download="nota.pdf">nf</a>
        </td>
      {% else %}
          <td><a class="C-dashboard_table_nf"></a></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% endblock content %}