{% extends 'global/pages/base.html' %}
{% load money %}

{% block title %}
  Todos os FIIs
{% endblock title %}

{% block content %}
  <h1 class="C-dashboard_title">FIIs em carteira</h1>
  <section class="C-dashboard_table_details">
    {% if fiis|length == 0 %}
      <p class="C-dashboard_table_empty_message">nenhum fii até o momento</p>
    {% else %}
      <table class="C-dashboard_table">
        <tr>
          <th>código</th>
          <th>quant.</th>
          <th>valor med.</th>
          <th>total</th>
        </tr>
      {% for fii in fiis %}
        <tr>
          <td><a href="{% url 'product:fii_history' fii.product.code %}">
            {{ fii.product.code }}
          </a></td>
          <td>{{ fii.quantity }}</td>
          <td>{{ fii.unit_price|real_brl }}</td>
          <td>{{ fii.get_total_price|real_brl }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
  </section>
{% endblock content %}