{% extends 'global/pages/base.html' %}
{% load money %}

{% block title %}
  Proventos
{% endblock title %}

{% block content %}
  <section class="C-dashboard_table_details">
    {% if is_main_page %}
      <p class="detail">
        Total acumulado em proventos (FIIs): 
        <span id="total_profits_fiis"></span>
      </p>
    {% endif %}

    {% include 'global/partials/_form.html' %}
    {% include 'global/partials/_messages.html' %}
  </section>
  
  <div id="result"></div>

  <p id="url-history-profits" style="display: none" data-url-history-profits={{ url_history_profits }}></p>
  <p id="url-total-profits" style="display: none" data-url-total-profits={{ url_total_profits }}></p>
  {% csrf_token %}

  {% if is_main_page %}
    <section class="C-dashboard_table_details">
      <table id="profits-table" class="C-dashboard_table">
        <thead>
          <th>data</th>
          <th>código</th>
          <th>valor</th>
          <th>mov</th>
          <th>edit.</th>
          <th>del.</th>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </section>
  {% endif %}
{% endblock content %}