{% extends 'global/pages/base.html' %}
{% load money %}

{% block title %}
  Proventos
{% endblock title %}

{% block content %}
  <section class="C-dashboard_table_details">
    {% include 'global/partials/_form.html' %}
    {% include 'global/partials/_messages.html' %}
  </section>
  
  <div id="result"></div>

  <p id="url" style="display: none" data-url={{ url }}></p>
  
  {% if history_table %}
    <section class="C-dashboard_table_details">
      <table id="profits-table" class="C-dashboard_table">
        <thead>
          <th>data</th>
          <th>código</th>
          <th>valor</th>
          <th>mov</th>
          <th>edit.</th>
          <th>del.</th>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </section>
  {% endif %}
{% endblock content %}