:root {
  --turquoise_1: #CAFCFC;
  --turquoise_2: #99ECEA;
  --turquoise_3: #6BDBD9;
  --turquoise_4: #3ACBC6;
  --turquoise_5: #31BBB5;
  --turquoise_6: #0f6e6a;
  --blue_1: #2E95B4;
  --blue_2: #1D7791;
  --blue_3: #23807E;
  --blue_4: #03045E;
  --white: #FFFFFF;
  --black: #000000;
  --gray_0: #3b3b3b;
  --gray_1: #CCCCCC;
  --gray_2: #e4dcdc;
  --dark_red: #a82626;
  --yallow_1: #E8CA68;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  'header'
  'main';
}

/* utils */
.center_x_y_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end utils */

/* menu */
.C-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#menu-mobile {
  display: none;
}

.C-menu_mobile {
  width: 30px;
  height: 30px;
  padding: 0 2px;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.C-menu_label {
  display: block;
  width: fit-content;
  height: 32px;
}

.C-menu {
  display: None;
  padding: 5px;
  font-size: 12px;
  z-index: 1000;
}

.C-menu_li {
  margin: 15px 0 ;
}

.C-menu__link, label[for="C-menu_ativos_checkox"] {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--white);
  display: block;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  transition: background 150ms linear;
}

.C-menu__link:hover, label[for="C-menu_ativos_checkox"]:hover {
  background-color: var(--turquoise_6);
}

.C-menu_mobile_line {
  width: 100%;
  height: 4px;
  border-radius: 25px;
  background-color: var(--turquoise_6);
}

#menu-mobile:checked ~ .C-menu_label {
  position: fixed;
  animation: open-menu-label 200ms linear 1 forwards;
}

#menu-mobile:checked ~ .C-menu_label .C-menu_mobile_line:nth-child(1) {
  position: absolute;
  top: 50%;
  width: 26px;
  animation: translate-line-45-p 200ms linear 1 forwards;
}

#menu-mobile:checked ~ .C-menu_label .C-menu_mobile_line:nth-child(2) {
  position: absolute;
  top: 50%;
  width: 26px;
  animation: translate-line-45-n 200ms linear 1 forwards;
}

#menu-mobile:checked ~ .C-menu_label .C-menu_mobile_line:nth-child(3) {
  display: none;
}

#menu-mobile:checked ~ .C-menu {
  display: block;
  position: fixed;
  animation: open-menu 200ms linear 1 forwards;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--turquoise_5);
}

.C-menu_ul {
  white-space: nowrap;
  overflow: hidden;
}

#C-menu_ativos_checkox {
  display: none;
}

.C-menu_submenu {
  display: none;
}

.C-menu_submenu_li {
  padding-left: 8px;
}

#C-menu_ativos_checkox:checked ~ .C-menu_submenu {
  display: block;
}

.C-logo {
  width: 40px;
  height: 40px;
}

.C-logo_figure {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.C-logo_image {
  width: 100%;
}
/* end menu */

/* home */
.C-main {
  grid-area: main;
  padding: 10px;
  overflow: hidden;
}

.C-login {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  height: 100%;
}

.C-login_form {
  width: 100%;
  max-width: 280px;;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
  padding: 25px;
  border: 1px solid var(--turquoise_3);
  border-radius: 10px;
  position: relative;
}

.C-login_title {
  align-self: flex-start;
  text-align: left;
  font-size: 30px;
}

.C-login_div_input {
  position: relative;
  width: 100%;
}

.C-login_label {
  text-transform: capitalize;
  text-align: left;
  color: var(--gray_1);
  width: calc(100% - 8px);
  padding: 0 5px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease;
  background-color: var(--white);
  cursor: auto;
}

.C-login_label:not(.C-login_label[for='id_date']) {
  z-index: -1;
}

.C-login_input {
  width: 100%;
  height: 35px;
  padding: 0 5px;
  color: var(--blue_2);
  border: 1.5px solid var(--turquoise_4);
  background-color: transparent;
  outline: none;
  overflow: auto;
  transition: all 300ms ease;
  z-index: 10000;
}

.C-login_input:focus, .C-login_input:required:valid {
  background-color: var(--white);
  border: 1px solid var(--blue_4);
}

.C-login_input:focus + .C-login_label, .C-login_input_active
 {
  top: -9px;
  transform: none;
  font-size: 12px;
  color: var(--blue_4);
  background-color: var(--white);
  width: fit-content;
  z-index: 10 !important;
}

textarea.C-login_input {
  resize: none;
  height: 150px;
  padding: 10px 5px;
}

.C-input_xhr:not(:empty) + .C-login_label
 {
  top: -9px;
  transform: none;
  font-size: 12px;
  color: var(--blue_4);
  background-color: var(--white);
  width: fit-content;
}

.C-login_form > a {
  text-decoration: none;
}

.C-login_forgot_password {
  align-self: flex-end;
  text-transform: capitalize;
  font-size: 10px;
  color: var(--blue_3);
  margin-bottom: 20px;
}

.C-login_forgot_password:focus {
  outline: none;
}

.C-login_button {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
  border-radius: 30px;
  transition: background 150ms linear,
              border 200ms linear;
}

.C-login_sign_in {
  border: 1px solid var(--turquoise_4);
  color: var(--blue_3);
  cursor: pointer;
  outline: none;
}

.C-login_sign_in:hover {
  background-color: var(--gray_2);
  border-color: var(--gray_2);
  color: var(--black);
  outline: none;
}

.C-login_sign_in:focus {
  outline: none;
}

.C-login_sing_up {
  background-color: var(--turquoise_5);
  color: var(--white);
  outline: none;
}

.C-login_sing_up:hover {
  background-color: var(--turquoise_6);
  outline: none;
}

.C-login_sing_up:focus {
  outline: none;
}

.custom-input-file {
  border: 1px solid var(--turquoise_3);
  color: var(--gray_1);
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.custom-input-file::before {
  content: 'nota';
  display: inline-block;
  text-transform: uppercase;
  background-color: var(--turquoise_3);
  color: var(--white);
  padding: 10px 5px;
  margin-right: 5px;
  outline: none;
  user-select: none;
}

.custom-input-file::-webkit-file-upload-button {
  display: none;
  white-space: nowrap;
}

.C-menu_logout {
  font-size: 12px !important;
  width: fit-content;
  padding: 5px 10px;
}
/* end home */

/* user register */
.C-form_register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.C-form_register_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  row-gap: 10px;
  width: 100%;
  max-width: 300px;
}

.C-form_register_form > input {
  width: 100%;
}

.C-form_help_text {
  color: var(--gray_0);
  font-size: 10px;
  text-align: justify;
  margin-bottom: 10px;
}

.errorlist {
  color: var(--dark_red);
  list-style: none;
}

.C-login_form > .errorlist {
  align-self: flex-start;
}

.C-form_button {
  border: none;
  outline: none;
  cursor: pointer;
}
/* end user register */

/* password reset */
.C-pasword_reset {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  justify-content: center;
  align-items: center;
}
.C-button_reset_password {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: none;
}
/* end password reset */

/* flash messages */
.messages {
  width: 100%;
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  color: var(--white);
  text-align: center;
  line-height: 1.8;
  border-radius: 10px;
}

.message_error {
  background-color: var(--dark_red);
  max-width: 380px;
}

.message_success {
  background-color: var(--turquoise_5);
}

.message_warning {
  background-color: var(--yallow_1);
}
/* end flash messages */

/* dashboard intro */
.C-dashboard_intro {
  max-width: 500px;
  margin: 0 auto;
}

.C-dashboard_intro_title {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 15px;
  display: inline-block;
}

.C-dashboard_box_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.C-dashboard_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#show-invest {
  display: none;
}

.eye-icon {
  cursor: pointer;
  color: var(--gray_1);
}

.C-dashboard_summary_title,
.C-dashboard_summary_item, 
.C-dashboard_summary_hidden {
  font-weight: 200;
  text-transform: capitalize;
  line-height: 2;
}

.C-dashboard_summary_title::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--gray_1);
  border-radius: 50%;
  margin-right: 3px;
}

.total {
  text-transform: uppercase;
  font-weight: 500;
}

.total::before {
  display: none;
}

.C-dashboard_summary_item {
  line-height: 2;
}

#show-invest:checked ~ .C-dashboard_summary .C-dashboard_summary_item {
  display: none;
}

#show-invest:not(:checked) ~ .C-dashboard_summary .C-dashboard_summary_hidden {
  display: none;
}
/* end dashboard intro */

/* upgrade box */
.C-upgrade_box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.C-upgrade_box p {
  font-size: 9px;
  background-color: var(--turquoise_3);
  color: var(--white);
  width: fit-content;
  padding: 10px 5px;
}
/* end upgrade box */

/* dashboard - actions */
.C-actions {
  text-align: center;
}
.C-dashboard_title {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
}

.C-dashboard_list {
  list-style: none;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
}

.C-dashboard_list_li {
  margin: 10px 0;
  cursor: pointer;
}

.C-dashboard_link, .C-dashboard_link::before {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--black);
  transition: all 200ms ease;
}

.C-dashboard_list_li:hover .C-dashboard_link {
  color: var(--turquoise_6);
}

.C-dashboard_list_li:hover .C-dashboard_link::before {
  background-color: var(--turquoise_6);
}

.C-dashboard_link::before {
  content: '';
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--gray_1);
  display: inline-block;
  vertical-align: middle;
}

.C-dashboard_table_details {
  text-transform: uppercase;
  width: 100%;
  max-width: fit-content;
  margin: 0 auto;
  overflow: hidden;
}

.C-dashboard_table {
  display: block;
  width: 100%;
  max-width: fit-content;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 12px;
  overflow-x: scroll;
}

.C-dashboard_table::-webkit-scrollbar {
  background-color: var(--turquoise_6);
  height: 10px;
}

.C-dashboard_table::-webkit-scrollbar-thumb {
  background-color: var(--turquoise_1);
  border-radius: 10px;
  border: 2px solid var(--turquoise_6);
}

.C-dashboard_table th {
  text-transform: capitalize;
  padding: 0 10px;
  color: var(--white);
  background-color: var(--gray_0);
}

.C-dashboard_table td {
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  white-space: nowrap;
}

.C-dashboard_table a {
  color: var(--turquoise_6);
  text-decoration: none;
}

.C-dashboard_table a:hover {
  text-decoration: underline;
}

.C-dashboard_table tr:nth-of-type(odd) {
  background-color: var(--gray_2);
}

.C-dashboard_table_buy {
  color: green;
}

.C-dashboard_table_sell {
  color: var(--dark_red);
}

.C-dashboard_table_nf {
  text-decoration: underline;
  display: block;
  color: var(--black);
}

.C-product_message {
  text-align: center;
  margin-bottom: 15px;
}

.C-product_form_container,
.C-product_form_confirm  {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
}

.C-fixed_income_details {
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid var(--gray_0);
}

.C-fixed_income_btn_edit {
  float: right;
  background-color: var(--gray_0);
  color: var(--white);
  text-transform: uppercase;
  padding: 5px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 200ms linear,
              color 200ms linear;
}

.C-fixed_income_btn_edit:hover {
  background-color: var(--gray_1);
  color: var(--black);
}

.C-product_form_container {
  background-color: rgba(0, 0, 0, 0.6);
  animation: open-form-container 300ms ease forwards;
}

.C-product_form_confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  animation: open-form 300ms ease forwards;
}

#form-apply, #form-redeem {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  margin: 10px 0;
} 

.C-product_button_apply, .C-product_button_redeem {
  width: 110px;
  height: 35px;
  padding: 5px;
  border: none;
  outline: none;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  transition: background 300ms ease,
              border 300ms ease;
}

.C-product_button_apply {
  background-color: var(--turquoise_6);
}

.C-product_button_apply:hover {
  background-color: var(--turquoise_4);
}

.C-product_button_redeem {
  background-color: var(--white);
  color: var(--black);
  border: 0.5px solid var(--black);
}

.C-product_button_redeem:hover {
  background-color: var(--gray_2);
  border: none;
}

.C-product_form_buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.C-product_form_btn {
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--blue_3);
  transition: background 150ms ease;
  color: var(--white);
  padding: 5px;
  cursor: pointer;
}

.C-product_form_btn:hover {
  background-color: var(--blue_2);
}

.C-fixed_income_input {
  max-width: 100px;
  height: 35px;
  border: 1px solid var(--turquoise_6);
  padding: 5px 10px;
}

.C-fixed_income_input::placeholder {
  color: var(--gray_1);
  text-transform: capitalize;
}

.C-fixed_income_input:focus {
  border: 1px solid var(--turquoise_5);
  outline: none;
}
/* end dashboard - actions */

/* start animation */
@keyframes translate-line-45-p {
  from {
    transform: none;
  }

  to {
    transform: translateY(-50%) rotate(45deg);
  }
}

@keyframes translate-line-45-n {
  from {
    transform: none;
  }

  to {
    transform: translateY(-50%) rotate(-45deg);
  }
}

@keyframes open-menu-label {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes open-menu {
  from {
    width: 0
  }

  to {
    width: 50%;
  }
}

@keyframes open-form-container {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 100vw;
    height: 100vh;
  }
}

@keyframes open-form {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 250px;
    height: 100px;
  }
}
/* end animation */

/* media queries */
@media screen and (min-width: 800px) {
  .C-login_form {
    max-width: 380px;
  }

  .C-login_input {
    height: 50px;
    font-size: 16px;
  }

  .C-login_button {
    font-size: 20px;
  }

  .C-upgrade_box p {
    font-size: 12px;
  }

  .C-dashboard_table {
    font-size: 16px;
  }

  @keyframes open-menu-label {
    from {
      left: 0;
    }
  
    to {
      left: 300px;
    }
  }
  
  @keyframes open-menu {
    from {
      width: 0
    }
  
    to {
      width: 300px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .C-dashboard_table {
    font-size: 20px;
  }
}
/* end media queries */