:root {
  --turquoise_1: #CAFCFC;
  --turquoise_2: #99ECEA;
  --turquoise_3: #6BDBD9;
  --turquoise_4: #3ACBC6;
  --turquoise_5: #31BBB5;
  --turquoise_6: #0f6e6a;
  --blue_1: #2E95B4;
  --blue_2: #1D7791;
  --blue_3: #23807E;
  --blue_4: #03045E;
  --white: #FFFFFF;
  --black: #000000;
  --gray_1: #CCCCCC;
  --gray_2: #e4dcdc;
  --dark_red: #a82626;
  --yallow_1: #E8CA68;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

/* start utils */
.center_x_y_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end utils */

/* start home */
.C-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 5px;
  margin-bottom: 10px;
}

.C-login_form {
  width: 100%;
  max-width: 280px;;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
  padding: 25px;
  border: 1px solid var(--turquoise_3);
  border-radius: 10px;
  position: relative;
}

.C-login_title {
  align-self: flex-start;
  text-align: left;
  font-size: 30px;
}

.C-login_div_input {
  position: relative;
  width: 100%;
}

.C-login_label {
  text-transform: capitalize;
  color: var(--gray_1);
  width: fit-content;
  padding: 0 5px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease;
}

.C-login_input {
  width: 100%;
  height: 35px;
  padding: 0 5px;
  color: var(--blue_2);
  border: 1.5px solid var(--turquoise_4);
  outline: none;
  overflow: auto;
  transition: all 300ms ease;
}

.C-login_input:focus, .C-login_input:required:valid {
  background-color: var(--white);
  border: 1px solid var(--blue_4);
}


.C-login_input:focus + .C-login_label, .C-login_input_active {
  top: -9px;
  transform: none;
  font-size: 12px;
  color: var(--blue_4);
  background-color: var(--white);
}

.C-login_form > a {
  text-decoration: none;
}

.C-login_forgot_password {
  align-self: flex-end;
  text-transform: capitalize;
  font-size: 10px;
  color: var(--blue_3);
  margin-bottom: 20px;
}

.C-login_button {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-transform: capitalize;
  border-radius: 30px;
  transition: background 150ms linear,
              border 200ms linear;
}

.C-login_sign_in {
  border: 1px solid var(--turquoise_4);
  color: var(--blue_3);
  cursor: pointer;
}

.C-login_sign_in:hover {
  background-color: var(--gray_2);
  border-color: var(--gray_2);
  color: var(--black);
}

.C-login_sing_up {
  background-color: var(--turquoise_5);
  color: var(--white);
}

.C-login_sing_up:hover {
  background-color: var(--turquoise_6);
}
/* end home */

/* user register */
.C-form_register {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.C-form_register_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  row-gap: 10px;
  width: 100%;
  max-width: 300px;
}

.C-form_register_form > input {
  width: 100%;
}

.errorlist {
  color: var(--dark_red);
  list-style: none;
}

.C-login_form > .errorlist {
  align-self: flex-start;
}

.C-form_button {
  border: none;
  outline: none;
  cursor: pointer;
}
/* end user register */
.C-pasword_reset {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  justify-content: center;
  align-items: center;
}
.C-button_reset_password {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: none;
}
/* password reset */


/* password reset */

/* flash messages */
.messages {
  width: 100%;
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  color: var(--white);
  text-align: center;
  line-height: 1.8;
  border-radius: 10px;
}

.message_error {
  background-color: var(--dark_red);
  max-width: 380px;
}

.message_success {
  background-color: var(--turquoise_5);
}

.message_warning {
  background-color: var(--yallow_1);
}
/* end flash messages */


@media screen and (min-width: 800px) {
  .C-login_form {
    max-width: 380px;
  }

  .C-login_input {
    height: 50px;
    font-size: 16px;
  }

  .C-login_button {
    font-size: 20px;
  }
}
