{% extends 'global/pages/base.html' %}

{% block title %}
  Registrar novo produto
{% endblock title %}

{% block content %}
  <section class="C-actions center_x_y_flex">
    {% include 'global/partials/_form.html' %}
  </section>

  {% include 'global/partials/_messages.html' %}

  <section class="C-dashboard_table_details">
    {% if fiis|length == 0 %}
      <p class="C-dashboard_table_empty_message">nenhum fii cadastrado</p>
    {% else %}
      <table class="C-dashboard_table">
        <tr>
          <th>código</th>
          <th>nome</th>
          <th>cnpj</th>
        </tr>
      {% for fii in fiis %}
        <tr>
          <td>{{ fii.code }}</td>
          <td>{{ fii.description }}</td>
          <td>{{ fii.cnpj }}</td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  </section>
{% endblock content %}
