{% extends 'global/pages/base.html' %}

{% block title %}
  Registrar novo produto
{% endblock title %}

{% block content %}
  <section class="C-actions center_x_y_flex">
    {% include 'global/partials/_form.html' %}
  </section>

  {% include 'global/partials/_messages.html' %}

  <section class="C-dashboard_table_details">
    {% if products|length == 0%}
      <p class="C-dashboard_table_empty_message">{{ default_message }}</p>
    {% endif %}

    {% if products|length != 0 and is_main_page %}
      <table class="C-dashboard_table">
        <tr>
          <th>código</th>
          <th>nome</th>
          <th>cnpj</th>
          <th>editar</th>
          <th>deletar</th>
        </tr>
      {% for product in products %}
        <tr>
          <td>{{ product.code }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.cnpj }}</td>
          <td>
            <a href="{{ product.get_url_update }}">
              <span class="material-symbols-outlined icon_edit">edit</span>
            </a>
          </td>
          <td>
            <form 
              action="{{ product.get_url_delete }}"
              method="POST">
              {% csrf_token %}
              <span class="material-symbols-outlined icon_delete span_ac_fii_delete">delete_forever</span>
            </form>
          </td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  </section>
{% endblock content %}
