{% extends 'global/pages/base.html' %}

{% block title %}
  Redefinição de senha
{% endblock title %}

{% block content %}
<section class="C-form_register">
  <form
    class="C-form_register_form"
    method="POST">
    {% csrf_token %}
    {% for field in form %}
      {% if field %}
        {{ field.errors }}
        <div class="C-login_div_input">
          {{ field }}
          <label for="{{ field.id_for_labek }}" class="C-login_label is_rec">seu email</label>
        </div>
        <button type="submit" class="C-login_sing_up C-login_button C-form_button">recuperar senha</button>
      {% endif %}
    {% endfor %}
  </form>
  {% include 'global/partials/_messages.html' %}
</section>
{% endblock content %}