{% extends 'global/pages/base.html' %}

{% block title %}
  Redefinição de senha
{% endblock title %}

{% block content %}
  <section class="C-form_register">
    <form
      class="C-form_register_form"
      method="POST">
      {% csrf_token %}
      <div class="C-login_div_input">
        <input type="email" name="email" id="id_email" class="C-login_input">
        <label for="id_email" class="C-login_label">seu email</label>
      </div>
      <input type="submit" value="recuperar senha" class="C-login_sing_up C-login_button C-form_button">
    </form>
  </section>
{% endblock content %}