{% extends 'global/pages/base.html' %}

{% block title %}
    Redefina sua senha
{% endblock title %}

{% block content %}
  <section class="C-form_register">
    {% if form.user.get_username %}
      <form
        class="C-form_register_form"
        method="POST">
        {% csrf_token %}
        <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
        {% for field in form %}
          {{ field.errors }}
          <div class="C-login_div_input">
            {{ field }}
            <label for="{{ field.id_for_label }}" class="C-login_label">{{ field.label }}</label>
          </div>
        {% endfor %}
        <button type="submit" class="C-login_button C-login_sing_up C-login_button C-form_button">confirmar nova senha</button>
      </form>
    {% endif %}
    {% include 'global/partials/_messages.html' %}
  </section>
{% endblock content %}
