{% extends 'global/pages/base.html' %}

{% block title %}
    Redefina sua senha
{% endblock title %}

{% block content %}
  <section class="C-form_register">
    <form
      class="C-form_register_form"
      method="POST">
      {% csrf_token %}
      <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
      {{ form.new_password1.errors }}
      <div class="C-login_div_input">
        <input type="password" name="new_password1" id="id_new_password1" autcomplete="new-password" required='true' class="C-login_input">
        <label for="id_new_password1" class="C-login_label">Nova senha</label>
      </div>
      {{ form.new_password2.errors }}
      <div class="C-login_div_input">
        <input type="password" name="new_password2" id="id_new_password2" autcomplete="new-password" required='true' class="C-login_input">
        <label for="id_new_password2" class="C-login_label">Repita a senha</label>
      </div>

      <input type="submit" value="Confirmar nova senha" class="C-login_sing_up C-login_button C-form_button">
    </form>
  </section>
{% endblock content %}