{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'global/partials/_head.html' %}
  <title>
    {% block title %}{% endblock title %}
  </title>
</head>
<body>
  <!-- header -->
  <header class="C-header">
    {% include 'global/partials/_menu.html' %}
  </header>

  <!-- main -->
  <main class="C-main">
      {% block content %}{% endblock content %}
  </main>

  <!-- footer -->
  <footer></footer>

  <!-- scripts js -->
  <script>
    // create default script
    const body = window.document.body;
    const script = window.document.createElement('script');
    script.setAttribute('type', 'module');
    script.setAttribute('src', '{% static "global/js/script.js" %}');
    body.appendChild(script);

    // create script for search cep
    const cep = window.document.createElement('script');
    cep.setAttribute('type', 'module');
    cep.setAttribute('src', '{% static "global/js/cep.js" %}');
    body.appendChild(cep);

    // create script for fiis
    const fiis = window.document.createElement('script');
    fiis.setAttribute('type', 'module');
    fiis.setAttribute('src', '{% static "global/js/fiis.js" %}');
    body.appendChild(fiis);

    // create script for fiis and direct treasure
    const dt_and_fiis = window.document.createElement('script');
    dt_and_fiis.setAttribute('type', 'module');
    dt_and_fiis.setAttribute('src', '{% static "global/js/dt_and_fiis.js" %}');
    body.appendChild(dt_and_fiis);
  </script>
    
</body>
</html>