{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'global/partials/_head.html' %}
  <title>
    {% block title %}{% endblock title %}
  </title>
</head>
<body>
  <!-- header -->
  <header class="C-header">
    {% include 'global/partials/_menu.html' %}
  </header>

  <!-- main -->
  <main class="C-main">
      {% block content %}{% endblock content %}
  </main>

  <!-- footer -->
  <footer></footer>

  <!-- script js -->
  <script>
    let script = window.document.createElement('script');
    let body = window.document.body;
    script.setAttribute('src', '{% static "global/js/script.js" %}');
    body.appendChild(script);
  </script>
    
</body>
</html>