{% extends 'global/pages/base.html' %}
{% load money %}

{% block title %}
  Tesouro Direto
{% endblock title %}

{% block content %}
  {% include 'global/partials/_messages.html' %}
  <h1 class="C-dashboard_title">tesouro direto</h1>
  <ul class="C-dashboard_list">
    <li class="C-dashboard_list_li">
      <a class="C-dashboard_link" href="{% url 'product:direct_treasure_register' %}">cadastrar novo</a>
    </li>
  </ul>
  <section class="C-dashboard_table_details">
    {% if products|length == 0 %}
      <p class="C-dashboard_table_empty_message">nenhum produto cadastrado</p>
    {% else %}
      <table class="C-dashboard_table">
        <thead>
          <th>nome</th>
          <th>total investido</th>
          <th>vencimento</th>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>
              <a href="{% url 'product:direct_treasure_details' product.id %}">{{ product.name }}</a>
            </td>
            <td>{{ product.get_current_value|real_brl }}</td>
            <td>{{ product.maturity_date|date:"SHORT_DATE_FORMAT" }}</td>
          </tr>
          {% endfor %}
        </tbody>         
      </table>
    {% endif %}
  </section>
{% endblock content %}