{% extends 'global/pages/base.html' %}
{% load money %}

{% block title %}
  Tesouro Direto
{% endblock title %}

{% block content %}
  {% include 'global/partials/_messages.html' %}
  <h1 class="C-dashboard_title">tesouro direto</h1>
  <ul class="C-dashboard_list">
    <li class="C-dashboard_list_li">
      <a class="C-dashboard_link" href="">cadastrar novo</a>
    </li>
  </ul>
  <section class="C-dashboard_table_details">
    <table class="C-dashboard_table">
      <thead>
        <th>nome</th>
        <th>total investido</th>
        <th>vencimento</th>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td>
            <a href="">{{ product.name }}</a>
          </td>
          <td>{{ product.value|real_brl }}</td>
          <td>{{ product.maturity_date|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
      </tbody>
      {% empty %}
        <p class="C-dashboard_table_empty_message">nenhum produto cadastrado</p>
      {% endfor %}
    </table>
  </section>
{% endblock content %}